body{
    margin: 0;
    padding: 0;
    background: #b56576;
    color: #ffff;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template-areas: 
    "navbar navbar navbar"
    "header header header"
    "sidebar-left content sidebar-right"
    "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.3fr 0.7fr 3fr 0.8fr;
    height: 100vh;
    column-gap: 15px;
}


.navbar{
    grid-area: navbar;
    background: #eaac88; 
    display: flex;
    justify-content: center;
    align-items: center;

}

.header{
    grid-area: header;
    background:#e56b6f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-left{
    grid-area: sidebar-left;
    background: #955361;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: grid;
    grid-area: content;
    grid-template-areas: 
    "grid-one grid-two grid-three"
    "grid-four grid-five grid-six";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: #6d597a;
}
.grid-one{
    grid-area: grid-one;
    background: #4a3c53;
    margin: 20px; 
    padding: 10px;
}
.grid-two{
    grid-area: grid-two;
    background: #4a3c53;
    margin: 20px 20px 20px 0; 
    padding: 10px;
}
.grid-three{
    grid-area: grid-three;
    background: #4a3c53;
    margin: 20px 20px 20px 0; 
    padding: 10px;
}
.grid-four{
    grid-area: grid-four;
    background: #4a3c53;
    margin: 0 20px 20px 20px;
    padding: 10px; 
}
.grid-five{
    grid-area: grid-five;
    background: #4a3c53;
    margin: 0 20px 20px 0; 
    padding: 10px;
}
.grid-six{
    grid-area: grid-six;
    background: #4a3c53;
    margin: 0 20px 20px 0; 
    padding: 10px;
}


.sidebar-right{
    grid-area: sidebar-right;
    display: grid;
    grid-template-areas: 
    "banner-1"
    "banner-2";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.banner-1{
    grid-area: banner-1;
    background: #905c68;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-2{
    grid-area: banner-2;
    background: #794d56;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: grid;
    grid-area: footer;
    grid-template-areas: 
    "footer-left footer-center footer-right";
    grid-template-columns: 1fr 1fr 1fr ;
}

.footer-left{
grid-area: footer-left;
background: #355070;
display: flex;
justify-content: center;
align-items: center;
}
.footer-center{
    grid-area: footer-center;
    background: #293e58;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-right{
    grid-area: footer-right;
    background: #1b293b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-one{
    background: #111;
    padding:8px ;
    border-top-left-radius: 10px;
    margin-top: 102px;
    margin-left: 147px;
    position: absolute;
}
.span-two{
    background: #111;
    padding:8px ;
    border-top-left-radius: 10px;
    margin-top: 102px;
    margin-left: 167px;
    position: absolute;
}
.span-three{
    background: #111;
    padding:8px ;
    border-top-left-radius: 10px;
    margin-top: 102px;
    margin-left: 167px;
    position: absolute;
}
.span-four{
    background: #111;
    padding:8px ;
    border-top-left-radius: 10px;
    margin-top: 122px;
    margin-left: 147px;
    position: absolute;
}
.span-five{
    background: #111;
    padding:8px ;
    border-top-left-radius: 10px;
    margin-top: 122px;
    margin-left: 167px;
    position: absolute;
}
.span-six{
    background: #111;
    padding:8px ;
    border-top-left-radius: 10px;
    margin-top: 122px;
    margin-left: 167px;
    position: absolute;
}